################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/E-Comm
/.vs/E-Comm
/.vs/EE273_project
/curl_lib
/.vs
